/* <!-- 
    隆Atenci贸n! Este c贸digo es propiedad de [DevRipley (Luis Dariel Estrella Camacho)]! 
    Si copias esto sin permiso, 隆prep谩rate para las consecuencias!  
--> */

/* Importa una fuente moderna */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

html, body {
    scroll-behavior: smooth; /*Solo para navegadores soportados*/
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f7f9fc;
}

/* Encabezado */
header {
    background: #1a1a2e;
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0; /* Reset margins */
    padding: 0;
    font-size: 35px;
    background: -webkit-linear-gradient(#ffffff, #949494);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 25px;
    background: -webkit-linear-gradient(#110018, #6000ad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

header nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a:hover { /* Aplica la transformaci贸n al hover del enlace */
    transform: scale(1.1); /* Ajusta el valor para controlar el acercamiento */
    transition: transform 0.3s ease; /* Agrega una transici贸n suave */
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; /* Mejor nombrado */
}

header nav a:hover {
    background-color: #5200be; /* Mejor nombrado */
    color: #fff;
}


/* Secciones principales */
main {
    padding: 40px 0;
}

section {
    margin-bottom: 60px;
}

h2 {
    color: #1a1a2e;
    font-size: 28px;
    border-bottom: 3px solid #5200be;
    padding-bottom: 10px;
}

.container {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto; /* Centrado horizontal */
    overflow: hidden;
    padding: 20px;
}


/* Sobre m铆 */
.about-content {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.5s ease; 
}

.about-content:hover { /* Se activa al pasar el cursor */
    transform: scale(1.03);
}

.about-content h3 {
    color: #5200be;
}

.about-content h1 {
    color: #5200be;
}

.profile-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.5s ease; 
    cursor: pointer;
}

.profile-image:hover { /* Se activa al pasar el cursor */
    transform: scale(1.10) rotate(360deg);
}



/* Educaci贸n */
.education-item {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.3s ease; /* Transici贸n suave para el efecto de escala */
}

.education-item:hover{
    transform: scale(1.03);
}

.education-item h3 {
    color: #5200be;
}

.education-item p {
    margin-top: 10px;
}

/* Habilidades */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.skill-category {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Transici贸n suave para el efecto de escala */
}

.skill-category:hover {
    transform: scale(1.03);
}

.skill-category h3 {
    color: #5200be;
}

/* Proyectos */
.project-card {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    transition: transform 0.3s ease; /* Transici贸n suave para el efecto de escala */
}

.project-card:hover {
    transform: scale(1.03);
}

.project-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.project-link {
    display: inline-block;
    background: #6f00ff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    text-align: center;
    align-items: center;
    transition: background 0.3s ease; /* Transici贸n suave para el color del bot贸n */
}

.project-link:hover {
    background: #4a0b9c;
}

/* Contacto */
.contact-links {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    flex: 1;
}

.contact-methods {
    display: flex; /* Muestra los enlaces y el formulario uno al lado del otro */
    justify-content: space-between; /* Distribuye el espacio entre ellos */
    gap: 20px; /* Espacio entre los elementos */
    flex-wrap: wrap;
}

.contact-form {
    flex: 1; /* Ocupa el 50% del espacio */

    form {
        display: flex;
        flex-direction: column;
        gap: 10px;

        input, textarea {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        button {
            padding: 10px 15px;
            background-color: #7610fc;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: transform 0.3s ease, background-color 0.3s ease; /* Agrega la transici贸n */
        }

        button:hover { /* Estilos para el hover del bot贸n */
            transform: scale(1.05);
            background-color: #4a0b9c;
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); 
        }
    }
}


.contact-item {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 50px;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    transition: transform 0.3s ease, background-color 0.3s ease; /* Agrega la transici贸n para background-color */
}

.contact-item i {
    margin-bottom: 5px;
    margin-right: 8px;
}

.contact-item span {
    font-size: 16px;
}

.contact-item:hover {
    transform: scale(1.05); /* Ajusta el valor de scale() para el tama帽o deseado */
    background-color: #7610fc; /* Cambia el color de fondo al que prefieras */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.contact-item img {
    margin-right: 10px;
}

/* Pie de p谩gina */
footer {
    background: #1a1a2e;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

/* Estilos para pantallas peque帽as */
@media (max-width: 768px) {
    .contact-methods, .contact-links {
        flex-direction: column;
        align-items: stretch;
    }

    .contact-links, .contact-form {
        flex: 1 1 100%;
        min-width: auto;
    }
    
    .contact-links {
        margin-bottom: 20px;
        align-content: center;
    }

    header nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .profile-image {
        margin-bottom: 20px;
        width: 150px;
        height: 150px;
    }

    .skills-grid {
        grid-template-columns: 1fr;
    }

    .project-card {
        width: calc(100% - 40px);
        margin: 20px auto;
        box-sizing: border-box;
    }

    .project-image {
        max-width: 90%;
    }
}
